
*{
    margin:0;
    background-color:#F2F2F2;
    padding:0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 200;
    letter-spacing: 1pt;
}
a{
    text-emphasis: none;
    text-decoration:none;
    color:black;  
}